<!doctype html>
<html lang="en" class="no-js" ng-app="app">
	<head>
		<meta charset="utf-8"/>
		<title>MySafeCare</title>
		<meta name="description" content="OpenClinica is the world's leading open source clinical trial software for Electronic Data Capture (EDC) Clinical Data Management (CDM)."/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="mobile-web-app-capable" content="yes"/>
		<link rel="shortcut icon" href="/favicon.ico"/>
		<link rel="apple-touch-icon" href="/img/favicon60.png"/>
		<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon76.png"/>
		<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon120.png"/>
		<link rel="icon" sizes="128x128" href="/img/favicon128.png"/>
		<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon152.png"/>
		<link rel="icon" sizes="192x192" href="/img/favicon192.png"/>
		<base href="/"/>
		<!-- inject:css -->
		<!-- endinject -->
		<!-- inject:head:js -->
		<!-- endinject -->
	</head>
	<body ng-controller="MainController as main">
		<!--[if lt ie 10]>
			<div class="browser-error">
				<div class="error-header">
					<h1>Unsupported Internet Explorer detected</h1>
				</div>
				<div class="error-body">
					<p>This website does not support this version of Internet Explorer.</p>
					<p>Please <a href="http://browsehappy.com/">upgrade or change your browser</a>.</p>
				</div>
			</div>
		<![endif]-->
		<noscript>
			<div class="browser-error">
				<div class="error-header">
					<h1>JavaScript not detected</h1>
				</div>
				<div class="error-body">
					<p>This website uses modern web technology that requires JavaScript to be enabled in your browser to work.</p>
					<p>Please <a href="http://www.activatejavascript.org/">enable JavaScript in your browser</a>.</p>
				</div>
			</div>
		</noscript>
		<div id="page" class="{{main.sidenavExpanded ? 'sidenav-expanded' : ''}}">
			<header class="page-header navbar-fixed-container md-whiteframe-z2">
				<nav class="navbar navbar-inverse navbar-fixed-top">
					<div class="container-fluid">
						<div class="navbar-header">
							<div class="logo pull-left">
								<a href="/">
									<picture>
										<img src="/img/bwh_logo.png"/>
									</picture>
								</a>
							</div>
							<button type="button" class="navbar-toggle pull-left hidden-xs" ng-click="main.toggleSidenav()" tooltip="{{main.sidenavExpanded ? 'Collapse menu' : 'Expand menu'}}" tooltip-placement="right"><span class="fa fa-fw {{main.sidenavExpanded ? 'fa-chevron-left' : 'fa-chevron-right'}}"></span></button>
						</div>
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav navbar-right">
								<li><a href tooltip="Toggle fullscreen" ng-click="main.toggleFullscreen()" tooltip-placement="bottom"><span class="fa fa-fw fa-arrows-alt"></span></a></li>
								<li class="dropdown" dropdown>
									<a href class="dropdown-toggle" dropdown-toggle><span class="user-image"></span><span class="fa fa-fw fa-user"></span><span class="caret"></span></a>
									<ul class="dropdown-menu">
										<!--<li><a href="/app/settings"><span class="fa fa-fw fa-cog"></span>&nbsp;Settings</a></li>
										<li><a href="/app/password"><span class="fa fa-fw fa-lock"></span>&nbsp;Password</a></li>
										<li class="divider"></li>-->
										<li><a href="/app/logout" target="_self"><span class="fa fa-fw fa-power-off"></span>&nbsp;Log out</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</header>
			<nav class="page-sidenav md-whiteframe-z2">
				<a href="/app/dashboard/{{main.currentStudy}}" class="list-group-item"><span class="fa fa-fw fa-tachometer"></span><span class="menu-text">&nbsp;Dashboard</span></a>
				<a href="/app/manage" class="list-group-item"><span class="fa fa-fw fa-cogs"></span><span class="menu-text">&nbsp;Change study</span></a>
			</nav>
			<main class="page-main">
				<div class="container-fluid main-animate-container">
					<div ui-view class="main-animate"></div>
				</div>
			</main>
			<footer class="page-footer">
			</footer>
		</div>
		<toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button': true, 'prevent-duplicates': true}"></toaster-container>
		<!-- inject:js -->
		<!-- endinject -->
	</body>
</html>
