#os/ide/editor
/nbproject/
!.gitkeep
.tmp
*~
*#
._*
.DS_Store
.Trashes
[Tt]humbs.db
*.swp
*.swo
*.swn
.idea

#node
logs/*
lib-cov
build/Release
.node_history
.lock-wscript
.sass-cache
*.seed
*.log
*.out
*.pid
build/
.bin/

#git
*.orig

#app
/node_modules
/webroot/vendor/
/webroot/dist/
/webroot/maps
/webroot/fonts
/webroot/index.html
/webroot/nbproject/private/
/nbproject/private/
