<section gridster="dashboard.gridOptions">
	<div class="panel panel-default md-whiteframe-z1">
		<div class="panel-heading cursor-move">
			<span class="panel-title">
				<span class="fa fa-table"></span>
				Concerns
			</span>
			<div class="pull-right">
				<button class="btn btn-xs btn-default" ng-click="dashboard.remove(widget)"><span class="fa fa-times"></span></button>
			</div>
		</div>
		<div class="panel-body">
			<table tr-ng-grid="" items="dashboard.mockData" class="table"></table>
		</div>
	</div>
	<ul>
		<li gridster-item="widget" ng-repeat="widget in dashboard.widgets">
			<div class="panel panel-default md-whiteframe-z1">
				<div class="panel-heading cursor-move">
					<span class="panel-title">
						<span class="fa {{widget.icon}}"></span>
						{{widget.title}}
					</span>
					<div class="pull-right">
						<button class="btn btn-xs btn-default" ng-click="dashboard.remove(widget)"><span class="fa fa-times"></span></button>
					</div>
				</div>
				<div class="panel-body">
				</div>
			</div>
		</li>
	</ul>
</section>
