<section gridster="dashboard.gridOptions">
	<div class="panel panel-default md-whiteframe-z1">
		<div class="panel-heading">
			<span class="panel-title">
				<span class="fa fa-table"></span>
				MySafeCare<span class="hidden-xs">: An Application for Patients and Families</span>
			</span>
			<div class="pull-right">
				<span class="hidden-xs">Study: </span><strong class="ng-cloak">{{dashboard.currentStudy}}</strong>
			</div>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table tr-ng-grid="" items="dashboard.tableData" class="table" fields="['status', 'date','name', 'room', 'concerns']" selection-mode="SingleRow" selected-items="selectedItems" enable-filtering="false" locale="en-us" ng-show="dashboard.tableData.length > 0">
					<thead>
						<tr>
							<th field-name="status" cell-width="7%"></th>
							<th field-name="date" cell-width="14%" display-align="right"></th>
							<th field-name="name" cell-width="12%"></th>
							<th field-name="room" cell-width="2%"></th>
							<th cell-width="65%">
								<input class="form-control" type="text" ng-model="gridOptions.filterBy" placeholder="Search any column"/>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-class="{'text-bold':gridItem.status==='1:New','text-light':gridItem.status==='3:Closed'}">
							<td field-name="status">
								<div>{{gridDisplayItem.status.substr(2)}}</div>
							</td>
							<td field-name="date">
								<div>{{gridDisplayItem.date | date:'shortDate'}}</div>
							</td>
							<td class="concerns-cell">
								<table>
									<tr ng-repeat="item in gridItem.concerns">
										<td class="concern-category"><img ng-src="/img/{{item.categoryFilename}}.svg" ng-if="item.categoryFilename"/><br/>{{item.category}}</td>
										<td class="concern-level">
											<div class="label label{{item.severity}}">
												{{item.severity}}
											</div>
										</td>
										<td class="concern-subcategories"><ol><li ng-repeat="subitem in item.subcategories">{{subitem}}</li></ol></td>
										<td class="concern-narrative">{{item.narrative}}</td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<p class="alert alert-danger" ng-show="dashboard.tableData.length === 0">No data being returned from server</p>
			</div>
		</div>
	</div>
	<!-- <ul>
		<li gridster-item="widget" ng-repeat="widget in dashboard.widgets">
			<div class="panel panel-default md-whiteframe-z1">
				<div class="panel-heading cursor-move">
					<span class="panel-title">
						<span class="fa {{widget.icon}}"></span>
						{{widget.title}}
					</span>
					<div class="pull-right">
						<button class="btn btn-xs btn-default" ng-click="dashboard.remove(widget)"><span class="fa fa-times"></span></button>
					</div>
				</div>
				<div class="panel-body">
				</div>
			</div>
		</li>
	</ul> -->
</section>
