<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">Case details</h3>
</div>
<div class="modal-body">
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td>Date</td>
				<td>{{selectedItem.date}}</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>{{selectedItem.name}}</td>
			</tr>
			<tr>
				<td>Room</td>
				<td>{{selectedItem.room}}</td>
			</tr>
			<tr>
				<td>Concern(s)</td>
				<td class="concerns-cell">
					<table>
						<tr ng-repeat="item in selectedItem.concerns">
							<td class="concern-category"><img ng-src="/img/{{item.categoryFilename}}.svg" ng-if="item.categoryFilename"/><br/>{{item.category}}</td>
							<td class="concern-level">
								<div class="label label{{item.severity}}">
									{{item.severity}}
								</div>
							</td>
							<td class="concern-subcategories"><ol><li ng-repeat="subitem in item.subcategories">{{subitem}}</li></ol></td>
							<td class="concern-narritive">{{item.narrative}}</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>First Occurred</td>
				<td>{{selectedItem.firstOccurred}}</td>
			</tr>
			<tr>
				<td>Shared Concern</td>
				<td>{{selectedItem.sharedConcern}}</td>
			</tr>
			<tr>
				<td>Plan To Share</td>
				<td>{{selectedItem.planToShare}}</td>
			</tr>
			<tr>
				<td>Family Engaged</td>
				<td>{{selectedItem.familyEngaged}}</td>
			</tr>
		</tbody>
	</table>
	<accordion>
		<accordion-group>
			<accordion-heading>
				Follow-ups
			</accordion-heading>
			<form>
				<div class="form-group clearfix">
					<textarea ng-model="newFollowup" class="form-control msd-elastic" placeholder="Add follow-up"></textarea>
					<br/>
					<button class="btn btn-default pull-right" ng-click="submitFollowup()">Submit follow-up</button>
				</div>
			</form>
			<h4 class="followup-heading">Follow-up history:</h4>
			<div class="followup">
				<div class="followup-header clearfix">
					<span class="followup-staff pull-left">Smith, Joe RN</span>
					<span class="followup-time pull-right">2015-06-23 12:00</span>
				</div>
				<div class="followup-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
			<div class="followup">
				<div class="followup-header clearfix">
					<span class="followup-staff pull-left">Jones, Susan RN</span>
					<span class="followup-time pull-right">2015-06-20 12:00</span>
				</div>
				<div class="followup-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</accordion-group>
	</accordion>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="close()">Close</button>
</div>
