<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="rowDetail.close()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">Case details</h3>
</div>
<div class="modal-body">
	<table class="table table-bordered rowdetail">
		<tbody>
			<tr>
				<td class="rowdetail-label">Status</td>
				<td>{{rowDetail.selectedItem.status.substr(2)}}</td>
			</tr>
			<tr>
				<td class="rowdetail-label">Date</td>
				<td>{{rowDetail.selectedItem.date | date:'shortDate'}}</td>
			</tr>
			<tr>
				<td class="rowdetail-label">Name</td>
				<td>{{rowDetail.selectedItem.name}}</td>
			</tr>
			<tr>
				<td class="rowdetail-label">Room</td>
				<td>{{rowDetail.selectedItem.room}}</td>
			</tr>
			<tr>
				<td class="rowdetail-label">Concern(s)</td>
				<td class="concerns-cell">
					<table>
						<tr ng-repeat-start="item in rowDetail.selectedItem.concerns">
							<td class="concern-category"><img ng-src="/img/{{item.categoryFilename}}.svg" ng-if="item.categoryFilename"/><br/>{{item.category}}</td>
							<td class="concern-level">
								<div class="label label{{item.severity}}">
									{{item.severity}}
								</div>
							</td>
							<td class="concern-subcategories"><ol><li ng-repeat="subitem in item.subcategories">{{subitem}}</li></ol></td>
							<td class="concern-narritive">{{item.narrative}}</td>
						</tr>
						<tr ng-repeat-end class="concern-detail">
							<td colspan="4">
								<table>
									<tr>
										<td style="width: 40%;" tooltip="This field is relative to the date of submission." tooltip-placement="left" class="concern-detail-cell"><span ng-show="item.firstOccurred"><strong>First occurred:</strong> {{item.firstOccurred}}</span></td>
										<td style="width: 30%;" tooltip="Did the patient share this concern with the care team?" tooltip-placement="left" class="concern-detail-cell"><span ng-show="item.shared"><strong>Shared concern:</strong> {{item.shared}}</span></td>
										<td style="width: 30%;" tooltip="Does the patient plan to share this concern with the care team?" tooltip-placement="left" class="concern-detail-cell"><span ng-show="item.planToShare"><strong>Plan to share:</strong> {{item.planToShare}}</span></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="rowdetail-label">Patient relationship</td>
				<td>{{rowDetail.selectedItem.patientRelationship}}</td>
			</tr>
			<tr tooltip="Is the patient's family/friend engaged in the care?" tooltip-placement="left">
				<td class="rowdetail-label">Family Engaged <span class="fa fa-question-circle"></span></td>
				<td>{{rowDetail.selectedItem.familyEngaged}}</td>
			</tr>
		</tbody>
	</table>
	<accordion>
		<accordion-group is-open="true">
			<accordion-heading>
				Follow-ups
			</accordion-heading>
			<form>
				<div class="form-group clearfix">
					<textarea ng-model="newFollowup" class="form-control msd-elastic" placeholder="Add follow-up"></textarea>
					<br/>
					<button class="btn btn-default pull-left" ng-click="rowDetail.submitFollowup()">Submit &amp; close case</button>
					<button class="btn btn-default pull-right" ng-click="rowDetail.submitFollowup()">Submit followup</button>
				</div>
			</form>
			<div ng-show="rowDetail.selectedItem.followups.length > 0">
				<h4 class="followup-heading">Follow-up history:</h4>
				<div class="followup" ng-repeat="followup in rowDetail.selectedItem.followups">
					<div class="followup-header clearfix">
						<span class="followup-staff pull-left">{{followup.staff}}</span>
						<span class="followup-time pull-right">{{followup.date | date:'shortDate'}}</span>
					</div>
					<div class="followup-body">
						<p>{{followup.note}}</p>
					</div>
				</div>
			</div>
		</accordion-group>
	</accordion>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="rowDetail.close()">Close</button>
</div>
