<section class="panel panel-default md-whiteframe-z1">
	<div class="panel-heading">
		<h2 class="panel-title">Change study</h2>
	</div>
	<div class="panel-body">
		<form name="form">
			<div class="form-group">
				<md-radio-group ng-model="main.currentStudy" ng-change="manage.studyChanged(main.currentStudy)">
					<md-radio-button ng-repeat="study in manage.studyOptions2" ng-value="study" aria-label="{{study}}">
						{{study}}
					</md-radio-button>
				</md-radio-group>
			</div>
		</form>
	</div>
</section>
