<section class="panel panel-default md-whiteframe-z1">
	<div class="panel-heading">
		<h2 class="panel-title">Form</h2>
	</div>
	<div class="panel-body">
		<form name="bsform">
			<fieldset>
				<legend>Text inputs</legend>
				<div class="form-group" ng-class="{'has-error': bsform.text.$invalid}">
					<label for="bs-text">Text</label>
					<input type="text" class="form-control" id="bs-text" name="text" ng-model="text" required/>
				</div>
				<div class="form-group" ng-class="{'has-error': bsform.email.$invalid}">
					<label for="bs-email">Email</label>
					<input type="email" class="form-control" id="bs-email" name="email" ng-model="email" placeholder="someone@company.com" required/>
				</div>
				<div class="form-group" ng-class="{'has-error': bsform.tel.$invalid}">
					<label for="bs-tel">Telephone</label>
					<input type="tel" class="form-control" id="bs-tel" name="tel" ng-model="tel" placeholder="+1 987-654-3210" required/>
				</div>
				<div class="form-group" ng-class="{'has-error': bsform.url.$invalid}">
					<label for="bs-url">URL</label>
					<input type="url" class="form-control" id="bs-url" name="url" ng-model="url" placeholder="http://www.company.com" required/>
				</div>
				<div class="form-group" ng-class="{'has-error': bsform.password.$invalid}">
					<label for="bs-password">Password</label>
					<input type="password" class="form-control" id="bs-password" name="password" ng-model="password" required/>
				</div>
				<div class="form-group">
					<label for="bs-textarea">Textarea</label>
					<textarea class="form-control" rows="3" id="bs-textarea" placeholder="Type here" required></textarea>
				</div>
			</fieldset>
			<fieldset>
				<legend>Special text inputs</legend>
				<div class="form-group">
					<label for="bs-number">Number</label>
					<input type="number" class="form-control" id="bs-number" placeholder="0" required/>
				</div>
				<div class="form-group">
					<label for="bs-date">Date</label>
					<input type="date" class="form-control" id="bs-date" required/>
				</div>
				<div class="form-group">
					<label for="bs-time">Time</label>
					<input type="time" class="form-control" id="bs-time" required/>
				</div>
				<div class="form-group">
					<label for="bs-month">Month</label>
					<input type="month" class="form-control" id="bs-month" required/>
				</div>
			</fieldset>
			<fieldset>
				<legend>Click inputs</legend>
				<div class="form-group">
					<label for="bs-select">Select</label>
					<select class="form-control" id="bs-select" required>
						<option disabled selected>Please select...</option>
						<optgroup label="Group 1">
							<option>1</option>
							<option>2</option>
						</optgroup>
						<optgroup label="Group 2">
							<option>3</option>
							<option>4</option>
						</optgroup>
					</select>
				</div>
				<div class="form-group">
					<label for="bs-multiselect">Multiselect</label>
					<select class="form-control" id="bs-select" multiple>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
				</div>
				<div>
					<md-checkbox ng-model="form.checkbox">
						Checkbox
					</md-checkbox>
				</div>
				<md-radio-group ng-model="form.radio">
					<md-radio-button value="radio1">Radio1</md-radio-button>
					<md-radio-button value="radio2">Radio2</md-radio-button>
				</md-radio-group>
				<br/>
				<md-slider flex md-discrete ng-model="form.range" min="0" max="10">
				</md-slider>
				<div class="form-group">
					<label for="bs-color" class="control-label">Color</label><br/>
					<input type="color" id="bs-color" ng-model="color"/>
					{{(color) ? color : '#000000'}}
				</div>
				<div class="form-group">
					<label for="bs-file" class="control-label">File</label>
					<input type="file" id="bs-file"/>
				</div>
			</fieldset>
			<fieldset>
				<legend>Data list</legend>
				<div class="form-group">
					<label for="bs-text-datalist" class="control-label">Text datalist</label>
					<input type="text" class="form-control" id="bs-text-datalist" placeholder="browser" list="browsers"/>
					<datalist id="browsers">
						<option value="Chrome">Chrome</option>
						<option value="Firefox">Firefox</option>
						<option value="Internet Explorer">Internet Explorer</option>
						<option value="Opera">Opera</option>
						<option value="Safari">Safari</option>
					</datalist>
				</div>
				<div class="form-group">
					<label for="bs-date-datalist" class="control-label">Date datalist</label>
					<input type="date" class="form-control" id="bs-date-datalist" list="days" />
					<datalist id="days">
						<option label="Independence Day">2013-07-04</option>
						<option label="Labor Day">2013-09-02</option>
						<option label="Columbus Day">2013-10-14</option>
					</datalist>
				</div>
				<div class="form-group">
					<label for="bs-time-datalist" class="control-label">Time datalist</label>
					<input type="time" class="form-control" list="times" />
					<datalist id="times">
						<option label="Midnight">00:00</option>
						<option>06:00</option>
						<option label="Noon">12:00</option>
						<option>18:00</option>
					</datalist>
				</div>
				<div class="form-group">
					<label for="bs-color-datalist" class="control-label">Color datalist</label>
					<input type="color" class="form-control" id="bs-color-datalist" value="#000000" list="color" />
					<datalist id="color">
						<option>#ff0000</option>
						<option>#0000ff</option>
						<option>#00ff00</option>
						<option>#ffff00</option>
						<option>#00ffff</option>
					</datalist>
				</div>
			</fieldset>
			<fieldset>
				<legend>Non-standard inputs</legend>
				<div class="form-group" ng-class="{'has-error': bsform.datepicker.$invalid}">
					<label for="bs-datepicker">Datepicker</label>
					<input type="text" class="form-control" ng-model="datepicker" id="bs-datepicker" name="datepicker" bs-datepicker autoclose="true">
				</div>
				<div class="form-group" ng-class="{'has-error': form.timepicker.$invalid}">
					<label for="bs-timepicker">Time</label>
					<input type="text" class="form-control" ng-model="timepicker" id="bs-timepicker" name="timepicker" bs-timepicker>
				</div>
				<div>
					<rating ng-model="rate" max="10"></rating> {{(rate) ? rate : 0}}
				</div>
				<md-switch ng-model="form.switch">
					{{(form.switch) ? 'on' : 'off'}}
				</md-switch>
				<div>
					Autocomplete/typeahead
				</div>
			</fieldset>
			<!-- <fieldset>
				<legend>Chrome polymer material</legend>
				<paper-button id="manage-button" raised="">Manage</paper-button></paper-button>
				<cr-toggle-button checked=""></cr-toggle-button>
				<cr-checkbox checked=""></cr-checkbox>
				<cr-dropdown-menu style="width: 200px">
					<core-menu class="menu">
						<paper-item tabindex="0">Chrome</paper-item>
						<paper-item tabindex="0">IE</paper-item>
						<paper-item tabindex="0">Firefox</paper-item>
					</core-menu>
				</cr-dropdown-menu>
			</fieldset> -->
			<br/>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</section>
